appdirs
brotlipy
buildozer
colorama
cwltool
dataclasses
django
faker
fqdn
html5lib
isoduration
jsonpointer
keepalive
matplotlib
munkres
pandas
pep517
pycsv
pydotplus
pyopenssl
pysocks
pythonanywhere
sparqlwrapper
toml
typed-ast
unicodedata2
uri-template
